.main-container {
  width: 900px;
  margin: 5px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-group-text{
  width: 35px;
  font-size: small;
  font-weight: bold;
  text-align: right;
  }
.trade-group {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 14px;
  cursor: pointer;
}
#tota-quantity #total-invested #average-price {
  margin-top: 10px;
  color: blue;
}
@media (max-width: 768px) {
  .col-md-6 {
    flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .col-lg-4 {
    flex-basis: 50%;
  }
}

@media (max-width: 1200px) {
  .col-xl-3 {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .main-container {
    width: 100%;
    margin: 20px auto;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .main-container {
    width: 80%;
    margin: 20px auto;
  }
}
@media (min-width: 990px) {
  .row.d-flex.justify-content-between {
    display: flex;
    justify-content: space-between;
  }
  .col-md-6.col-sm-12.col-lg-4.col-xl-3 {
    flex-basis: 45%;
    max-width: 45%;
  }
  .input-group {
    width: 100%;
  }
}
